:root {
    font-size: calc(100vw / 1920 * 10);
    @include r(1440) {
        font-size: calc(100vw / 1440 * 10);
    }
}

body {
    min-height: 100%;
    font-size: 1.6rem;
    font-family: $primaryFont;
    font-weight: 400;
    color: #000;
}

footer {
    flex-shrink: 0;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 0 auto;
}

.container {
    max-width: 192rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}