{% import "partials/_components.html" as component %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{title}}</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="./assets/styles/vendor.bundle.min.css">
    <link rel="stylesheet" href="./assets/styles/styles.min.css">
    {% include "../partials/_favicon.html" %}
</head>
<body>

     <!-- BEGIN content -->
     <div class="wrapper">
        {% include '../partials/_header.html' %}
        <main class="page">
            {% block content %}
            {% endblock %}
        </main>
        {% include '../partials/_footer.html' %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    {# <script src="./assets/js/vendor.bundle.min.js"></script> #}
    <script src="./assets/js/main.bundle.min.js"></script>
    <!-- END scripts -->

</body>
</html>